.spacer{
    flex:1 1 auto;}

.mat-toolbar{
    // padding: 0px 60px 0px 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    margin-left: 200px;
}