<div class="sidebar-container container " style="width: 12rem;">
  <div class="">

  <div style="    padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;">

    <h5 >Menu</h5>
    <div class="dashboard-card">
      <a href="" routerLinkActive="active" routerLink="/application/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</a>
      <a href="" routerLinkActive="active" routerLink="/application/patients"><mat-icon>personal_injury</mat-icon>Patients</a>
      <a  routerLinkActive="active" routerLink="/application/doctors"><mat-icon>diversity_1</mat-icon>Doctors</a>
      <a (click)="logOut()" routerLink="/application/doctors"><mat-icon>logout</mat-icon>SignOut</a>
    </div>
  </div>

</div>
</div>
