
<div class="main-container">
    <div class="card1">
        <h5 class="card-title">Total Admissions</h5>
        <h1 class="card-text">{{totalAd}}</h1>
    </div>
    <div class="card2">
        <h5 class="card-title">Today's Admissions</h5>

        <h1 class="card-text">{{todayAd}}</h1>

    </div>
    <div class="card3">
        <h5 class="card-title">Pie Chart</h5>
        <div class="pie-chart">
            <ngx-charts-pie-chart [view]="[400,110]" [scheme]="colorScheme" [results]="pieData" [gradient]="gradient"
                [legend]="false" [labels]="false" [doughnut]="false">
            </ngx-charts-pie-chart>
        </div>
    </div>
    <div class="card4">
        <h5 class="card-title">Discharge</h5>

        <h1 class="card-text">{{discharge}}</h1>

    </div>
    <div class="card5">
        <h5 class="card-title">Discharge</h5>

        <h1 class="card-text">{{discharge}}</h1>
    </div>
    <div class="card6">
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
        </ngx-charts-line-chart>
    </div>
    <div class="card7"> <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="multi"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="false"
            [showYAxisLabel]="false" [animations]="false">
        </ngx-charts-line-chart> </div>
    <div class="card8">
        <ngx-charts-polar-chart
        [view]="[200,150]"
        [scheme]="colorScheme"
        [legend]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [results]="multi"
       >
      </ngx-charts-polar-chart>
        
    </div>
    <div class="card9"><ngx-charts-bar-vertical-2d [view]="[200,150]"
            [scheme]="{domain:['#E67F25', '#004B23', '#004B23', '#E67F25']}" [results]="multi" [gradient]="gradient"
            [xAxis]="false" [yAxis]="false" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false">
        </ngx-charts-bar-vertical-2d></div>
    <div class="card10"><ngx-charts-heat-map [view]="view" [scheme]="colorScheme" [legend]="false"
            [showXAxisLabel]="false" [showYAxisLabel]="false" [results]="multi">
        </ngx-charts-heat-map></div>
    <div class="card11"> <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="multi"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="false"
            [showYAxisLabel]="false" [animations]="false">
        </ngx-charts-line-chart> </div>
    <div class="card12"><ngx-charts-bar-vertical-2d [view]="[600,650]"
            [scheme]="{domain:['#004B23', '#004B23', '#004B23', '#E67F25']}" [results]="multi" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true"
            [xAxisLabel]="'country'" [yAxisLabel]="'people'">
        </ngx-charts-bar-vertical-2d></div>
</div>