.graph-container{
    width: 614px;
    max-width: 800px;
}
.card-bg{
    border: 1px solid #bfc0c1;
    // .card-body{
    //     // margin-top: 36px;
    // }
}
.details-main-container{
    margin: 72px 0px 0px 100px;
    padding: 10px;
    width: 100%;
    height: 100vh;
    // overflow: hidden;
}