<div class="login-container">
<div class="container bg-light mat-elevation-z1 rounded p-sm-3"style="width: 30rem;">
    <div class="row d-flex justify-content-center align-content-lg-center " >
    <h1  class="row justify-content-center">Sign Up</h1>
    <div>
        <form class="from-group" [formGroup]="_formObject">
            <mat-form-field appearance="outline" class="form-width">
                <mat-label>First Name</mat-label>
                <input type="text" matInput formControlName="firstName"
                       placeholder="Ex. pat@example.com">
                <mat-error *ngIf="_formObject.get('firstName')?.hasError('email') && !_formObject.get('emailFormControl')?.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="_formObject.get('firstName')?.hasError('required')">
                  First Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-width">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput formControlName="lastName"
                       placeholder="Ex. pat@example.com">
                <mat-error *ngIf="_formObject.get('lastName')?.hasError('email') && !_formObject.get('emailFormControl')?.hasError('required')">
                  Please enter a valid Last Name
                </mat-error>
                <mat-error *ngIf="_formObject.get('lastName')?.hasError('required')">
                  Last Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            <mat-form-field appearance="outline" class="form-width">
              <mat-label>Email</mat-label>
              <input type="text" matInput formControlName="emailFormControl"
                     placeholder="Ex. pat@example.com">
              <mat-error *ngIf="_formObject.get('emailFormControl')?.hasError('email') && !_formObject.get('emailFormControl')?.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="_formObject.get('emailFormControl')?.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-width">
                <mat-label>Password</mat-label>
                <input type="text" matInput formControlName="password"
                       placeholder="Ex. pat@example.com">
                <mat-error *ngIf="!_formObject.get('password')?.hasError('required')">
                  Please enter a valid Password address
                </mat-error>
                <mat-error *ngIf="_formObject.get('password')?.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
          </form>
    </div>
    <div class="button">
      <span>Already have an account? <a routerLink="/login">Login</a></span>
      <br>
      <button mat-raised-button (click)="submit()">Sign Up</button>
      </div>
    </div>
    </div>
  </div>